{% extends "auctions/layout.html" %}

{% block body %}
  <h1>{{category}}</h1>
  {% for listing in listings %}
    {% if listing.image_url %}
    <div>
      <img src="{{listing.image_url}}" width='500'>
    </div>
    {% endif %}
    <div>
      <div class='title'>
        <a href="{% url 'listing_page' listing_id=listing.id %}">
          <h3>Listing: {{listing.title}}</h3>
        </a>
      </div>
      <div class='description'>
        {{listing.description}}
      </div>
      <div class='price'>
        <b>Price:</b> {{listing.price}} {{listing.currency}}
      </div>
    </div>
    <hr>
  {% endfor %}
{% endblock %}